body {
    font-family: system-ui, Arial;
    margin: 24px;
    background-color: rgb(192, 192, 192);
}

h1 {
    display: flex;
    justify-content: center;
}

img {
    max-width: 300px;
    border-radius: 8px;
}

.card {
    display: flex;
    gap: 20px;
    align-items: flex-start;
    margin-top: 25px;
    justify-content: center;
    background-color: #b1b1b1;
    padding: 20px;
    border-radius: 12px;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    transition: all 0.3s ease;
    cursor: pointer;
}

/* Hover effect */
.card:hover {
    background-color: #c8c8c8;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    transform: translateY(-4px);
}

.card div {
    max-width: 400px;
}

.gap {
    margin-top: 10px;
}

.primary-btn {
    background-color: #4caf50;
    color: white;
    font-weight: bold;
    padding: 12px 24px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
}

.primary-btn:hover {
    background-color: #3e8f41;
    transition: all 0.3s ease;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}


.justify-center {
    display: flex;
    justify-content: center;
}